@keyframes rotation {
    0% {
        opacity: 0;
      transform: translate(40px,-100%) rotate(25deg);}
    100% {
     
      opacity: 1;
      transform: translate(0, -50%) rotate(25deg); }
}

@keyframes rotation2 {
    0% {
        transform: translate(-100%, -100%) rotate(0);
    }
    100% {
        transform: translate(-100%, -100%) rotate(360deg);
    }
}

@keyframes moveInLeft {
    0% {
        transform: translate(-50%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes moveInRight {
    0% {
        transform: translate(50%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes moveInTop {
    0% {
        transform: translate(0, -50%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes moveInBottom {
    0% {
        transform: translate(0, 100%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}