
// .pagination {
//     margin: 0;
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;
//     .page-item:first-child {
//         .page-link {
//             &::after {
//                 display: none;
//             }
//         }
//     }
//     .page-item:last-child {
//         .page-link {
//             &::after {
//                 display: none;
//             }
//         }
//     }
//     .page-item {
//         display: flex;
//         align-items: center;
//         .page-link {
//             position: relative;
//             font-size: 16px;
//             color: $c-font;
//             margin-bottom: 0;
//             &:hover {
//                 color: #fff;
//             }
//             &:hover::after {
//                 background: rgba(48, 51, 58, .8);
//                 opacity: 1;
//             }
//             .button-prev {
//                 color: #000;
//             }
//             .button-next {
//                 color: #000;
//             }
//             &::after {
//                 content: '';
//                 position: absolute;
//                 font-size: 16px;
//                 height: 4rem;
//                 width: 4rem;
//                 left: 50%;
//                 top: 50%;
//                 border-radius: 2px;
//                 transform: translate(-50%, -50%);
//                 z-index: -1;
//                 opacity: 0;
//                 transition: all 0.3 ease;
//             }
//         }
//     }
//     .active {
//         .page-link {
//             color: #fff!important;
//             &::after {
//                 content: '';
//                 position: absolute;
//                 font-size: 16px;
//                 height: 4rem;
//                 width: 4rem;
//                 left: 50%;
//                 top: 50%;
//                 background: rgba(48, 51, 58, .8);
//                 border-radius: 2px;
//                 transform: translate(-50%, -50%);
//                 opacity: 1!important;
//                 z-index: -1;
//             }
//         }
//     }
// }


// @media (max-width: 767px) {
//     .pagination {
//         .page-item {
//             .page-link {
//                 &::after {
//                     height: 2rem;
//                     width: 2rem;
//                 }
//             }
//         }
//         .active {
//             .page-link {
//                 &::after {
//                     height: 3rem;
//                     width: 3rem;
//                 }
//             }
//         }
//     }
// }


.pagination {
    li {
        display: flex;
        align-items: center;
        margin-right: 12px;
        a {
            border: none;
            position: relative;
            font-size: 14px;
            color: $c-font;
            margin-bottom: 0;
            padding: 2px 8px;
            background: transparent;
            span{
                i{
                    font-size: 32px;
                }
            }
            &:hover{
                background: $c-green;
                color: #fff;
                font-weight: bold;
                border-radius: 50%;
            }
            .button-prev {
                color: #000;
            }
            .button-next {
                color: #000;
            }
        }
    }
    .active {
        a {
            background: $c-green;
            border-radius: 50%;
            font-size: 14px;
            font-weight: bold;
            color: #fff!important;
        }
    }
    li [aria-label="Previous"]:hover{
        background:transparent;
            color: #000;
    }

    li [aria-label="Next"]:hover{
        background:transparent;
            color: #000;
    }
    li [aria-label="Previous"]{
        color: $c-grey;
    }
    li [aria-label="Next"]{
        color: $c-grey;
    }
}
